*{
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-family: 'Walter Turncoat', cursive;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 20, 20);
}

/*header y menu */
header {
    height: 250px;  
    
}
.nav-link {
    color: white;
}
.bg-edit {
    background-image: url(../imagenes/gemplay-images/bluefontq.gif);
}

.navbar-brand {
    padding-left: 70px;
}
/* efectos */

@keyframes mi-efecto {
   
}

.animate__animated .animate__fadeInLeft {
    animation-delay: 1sg;
    animation-duration: 2sg;
    animation-iteration-count: infinite;
}







 /* TODO SECTIONS Y CLASS DENTRO DE LA PAGINA */
.govver{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 100px;
    
    
}
.govver figure{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
    margin: 10px;
   
}

.govver figure img{
    width: 100%;
    height: auto;
    transition: all 500ms ease-out;
}

.govver figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(0,103,123,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.govver figure:hover .capa{
    opacity: 1;
    visibility: visible;
}

.govver figure:hover .capa h3{
    margin-top: 70px;
    margin-bottom: 15px; 
}

.govver figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.govver figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;  
}



.dropdown {
    color: blanchedalmond;
    background-color: black;
    width: 100%;
    max-width: 600px;
    left: 680px;
    border: solid 1px coral; 
    top: 80px;
}

#intro {
    text-align: center;   
    color: blanchedalmond;
    background-color: black; 
}

#historia {
    background-color: rgb(2, 1, 1);
    color: blanchedalmond;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 170px;
    text-align: center;
    border: 1px solid coral;   
}



#parches-info {
    width: 80%;
    margin-left: 170px;
    color: blanchedalmond;
    background-color: black;
    border: solid 1px coral;
    padding-left: 5px;
    padding-right: 5px;
    
}





/* VIDEOS */


#GemplayVideo {
    background-color: black;
    color: blanchedalmond;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 70%;
    text-align: center;
    margin-left: 250px;
}
.Parrafo-video {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#Nosotros1 {
background-color: black;
border: 1px solid coral;
margin-bottom: 100px;
}
#Nosotros1 h2 {
    color: coral;
    
}

.row {
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    border: solid 2px coral;
    margin-bottom: 100px;
    
}
.row img {
    width: 640px;
    height: 480px;
}


/* TODO LO QUE CONTIENE IMAGENES  */


.bichos {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 2px solid coral;
    opacity: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bichos h1 {
    padding: 85px;
}

.texto {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0px 50px 0 rgba(0,0,0,0.80), 0 6px 20px 0 rgba(0,0,0,0.50);
    text-shadow: 0 3px 3px black, 0 0 0 #000;
    
}

/* TITULARES */

h1 {
    text-align: center;
    color: blanchedalmond;
    background-color: black;
}

h2 {
    text-align: center;
}

h4 {
    margin: auto;
    color: red;
    text-align: center;
    margin-right: 300px;
    
}

h2 {
    color: blanchedalmond;
    background-color: black;
}

h3 {
    margin-left: 735px;
    color: rgb(206, 8, 8);
    margin-bottom: 50px;
    text-align: center;
}
h5 {
    font-size: 90px;
    padding: 100px;
}







/* FOOTER */

footer {
    color: blanchedalmond;
    background-image: linear-gradient(to right, red , black 50%);
    margin-top: 45px;
    width: 100%;
    border: solid 1px coral;
    
}

.contenedor-full-pie {
    width: 100%;
    max-width: 1200px;
    
    
}


.contenedorpie {
    display: flex;
   
}

.colum1 {
    max-width: 500px;
       
}

.colum1 h2 {
    font-size: 15px;
}


.colum2 {
    max-width: 500px;

}

.colum2 h2 {
    font-size: 22px;
}


.colum2 .fila {
margin-top: 20px;
}

.fila img{
width: 36px;
height: 36px;
}

.fila label{
    margin-top: 10px;
    margin-left: 20px;
}

.letras {
    margin: 10px;
}

.colum3 h2{
    font-size: 22px;
    
    
}
.colum3 .fila2 {
    margin-top: 25px;
    margin-left: 50px;
}


.fila2 img{
    width: 36px;
    height: 36px;
}


 /* BREAKPOINTS */

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
    }
    #intro {
        margin-top: 200px;
    }
    #GemplayVideo {
        flex-direction: column;
        margin-left: 15%;
    }
    #Nosotros1 {
        max-width: 720px;
        margin-left: 10px;
    }
    .row {
        margin-left: 0%;
        width: 100%;
        max-width: 900px;
    }
    .carousel-inner {
        width: 100%;
         
    }
    .dropdown {
        left: 50px;
    }

    .govver {
        
        display: none;
        
    }
    #historia {
       
        color: blanchedalmond;
        margin-bottom: 350px;
        width: 100%;
        max-width: 600px;
        margin: 10%;
    }
    
    #parches-info {
        margin-left: 25%;
        
    }
    .bichos {
        display: flex;
        flex-direction: column;
    }
    .bichos h1 {
        text-align: center;

    }
}

@media screen and (max-width: 414px) {
    header {
        height: auto;
    }

    #intro {
        margin-top: 200px;
    }
    #GemplayVideo {
        width: 100%;
        max-width: 414px;
        margin-left: 0%;
    }
    #Nosotros1 {
        margin-left: 1px;
    }

    .row {
        display: none;
    }

         .carousel-inner {
            width: 80%;
            
            
        }
        .dropdown {
            left: 10px;
            max-width: 400px;
        }
        .govver {
         display: none;
        }

        #historia {
            background-color: rgb(49, 9, 9);
            color: blanchedalmond;
            margin-bottom: 350px;
            width: 100%;
            max-width: 350px;
            margin: 5%;
        }

        #parches-info {
            margin: 5%;
            width: 100%;
            max-width: 350px;
            background-color: rgb(49, 9, 9);
        }

        footer {
        display: none;
        }
}